@font-face {
    font-family: m-regular;
    src: url('../fonts/Montserrat-Regular.otf')
}
@font-face {
    font-family: m-bold;
    src: url('../fonts/Montserrat-Bold.otf')
}
@font-face {
    font-family: m-medium;
    src: url('../fonts/Montserrat-Medium.otf')
}