.main {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 71px 0;
    &__content {
      position: relative;
      height: calc(100vh - 144px);
      z-index: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    &__footer {
      display: flex;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      padding: 20px;
      z-index: 1;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      .inner {
        width: calc(100% / 3);
        text-align: center;
        position: relative;
      }
      .new-project-button {
        position: absolute;
        top: -54px;
        left: 50%;
        transform: translateX(-50%);
        background: #149cff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (min-width: 769px){
    .main{

      &__content{
        padding-top: 60px;
      }
    }
  }
  @media (min-width: 992px){
    .main{
      &__content{
        height: calc(100vh - 71px);
      }
    }
  }