@mixin fit-cover{
    box-sizing: border-box;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@mixin fit-content{
    img{
        width: 100%;
        height: 100%;
        object-fit: content;
    }
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin decoration{
    &:focus,&:active,&:hover{
        outline: none;
        text-decoration: none;
    }
}